/* regole generali */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;


}

#centratore{
  width: 80%;
  margin: auto;
}


.intestazione, .firstrow{
  margin-bottom: 20px;

}


/* regole header */
.intestazione{
  width: 100%;
  height: 50px;
  /* debug: */
  background-color: yellow;

}

/* regole main */

/* sezione superiore */
.firstrow{
  width: 100%;
  height: 180px;
  /* debug: */
  background-color: red;
}


/* sezione inferiore */
.secondrow{
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  /* debug */
  background-color: blue;
}

 .secondtitle{
   width: 100%;
   height: 10%;
   margin-bottom: 12px;
   /* debug */
   background-color: lightblue;
 }

 .column{
   height: 85%;
   float: left;

 }

 .secondrow::after{
  content: "";
  display: table;
  clear: both;
}
 .small{
   width: calc(25% - 5px);
   /* debug */
   background-color: red;
 }

 .big{
   width: calc(50% - 10px);
   margin:0 10px;
   /* debug */
   background-color: lightblue;
 }
/* regole footer */

.foot{
  width: 100%;
  height: 30px;
  /* debug */
  background-color: purple;
}
