/* regole generali */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;


}

.centratore{
  width: 80%;
  margin: auto;
}


.intestazione, .firstbox{
  margin-bottom: 20px;

}


/* regole header */
.intestazione{
  width: 100%;
  height: 50px;
  /* debug: */
  background-color: yellow;

}

/* regole main */

/* sezione superiore */
.firstbox{
  width: 100%;
  height: 180px;
  /* debug: */
  background-color: red;
}


/* sezione inferiore */
.secondbox{
  width: 100%;
  /* debug */
  background-color: blue;
}


.row{
 width: 100%;
 margin-bottom: 10px;


}
 .secondtitle{
   width: 100%;
   height: 40px;
   margin-bottom: 12px;
   /* debug */
   background-color: lightblue;
 }

 .column{
   height: 200px;
   float: left;
   margin-bottom: 10px;

 }

 .row::after{
  content: "";
  display: table;
  clear: both;
}
 .small{
   width: calc(25% - 5px);
   /* debug */
   background-color: red;
 }

 .big{
   width: calc(50% - 10px);
   margin:0 10px;
   /* debug */
   background-color: lightblue;
 }
/* regole footer */

.foot{
  width: 100%;
  height: 30px;
  /* debug */
  background-color: purple;
}
